@{
    ViewData["Title"] = "Home Content";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">New site 123e</a>.</p>
</div>

